body,
* {
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0;
  background-color: black;
  padding-bottom: 374px;
}
.hero-container {
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/5a27cb25-33a9-4bcc-b441-95fefabcbd37/4d2d33bb-c8d0-4c01-abaa-6aaa031a943e/US-en-20210823-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  height: 100%;
  max-height: 767px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 0px;
  z-index: 1;
  border-bottom: solid #222 8px;
}
.hero-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0.8) 100%
  );
  z-index: 2;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Open Sans", sans-serif;
  position: relative;
  z-index: 3;
}
h1 {
  font-weight: 700;
  text-align: center;
  font-size: 50px;
  max-width: 664px;
  margin-bottom: 0;
}
p {
  font-weight: 400;
  font-size: 23px;
  text-align: center;
}
.hidden {
  position: absolute;
  opacity: 0;
}
.membership-signup {
  max-width: 760px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}
input {
  max-width: 540px;
  width: 100%;
  height: 60px;
  font-size: 16px;
}
button {
  background-color: #e50914;
  outline: none;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 15px 40px;
  font-size: 26px;
  white-space: nowrap;
}
.signin-button {
  text-decoration: none;
  background-color: #e50914;
  outline: none;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 10px 18px;
  font-size: 16px;
  position: absolute;
  top: 32px;
  right: 64px;
  z-index: 3;
}
.dropdown {
  position: absolute;
  z-index: 3;
  top: 32px;
  right: 170px;
  height: 100%;
}
select {
  padding: 8px 22px;
  border: 2px solid white;
  border-radius: 3px;
  background: black;
  color: white;
  font-size: 14px;
  font-weight: 400;
}
select,
option {
  position: relative;
  z-index: 4;
}
.netflix-logo {
  fill: #e50914;
  position: absolute;
  top: 32px;
  left: 64px;
  width: 108px;
  height: auto;
  z-index: 3;
}
/* footer styles */
footer {
  padding: 70px calc(42.75px + 45px);
  width: 100%;
}
.questions {
  color: #757575;
  text-align: left;
}
.phone-number {
  color: #757575;
  text-decoration: none;
}
.footer-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}
.footer-list {
  width: 192px;
}
.footer-list > ul {
  margin: 0;
  padding: 0;
}
.footer-list-item {
  list-style: none;
  margin-bottom: 16px;
}
.footer-link {
  color: #757575;
  text-decoration: none;
}
.footer-dropdown select {
  color: #757575;
  border-color: #757575;
  border-width: 1px;
}
@media (max-width: 932px) {
  button {
    background-color: #e50914;
    outline: none;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 6px 16px;
    font-size: 16px;
  }
  .membership-signup {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
  }
}
